/*Bootstrap already does this
* {
  box-sizing: border-box;
}
*/

/*Interferes with Bootstap layout
#footer {
  display: grid;
  grid-auto-flow: row;
  row-gap: 0.2rem;
  margin-top: 1rem;
}*/

.grid {
  /*NOTE: Bootstrap has a grid class, but it's disabled by default*/
  display: grid;
}
.fit-content {
  width: fit-content;
}
.title {
  margin-bottom: 0;
}
.subtitle {
  margin-top: 0;
}

/*Bootstrap already sets something like this
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}*/

ul,
ol {
  margin-left: 0;
  padding-left: 0;
}
li {
  margin-left: 1rem;
}

a {
  text-decoration: none;
}
