#letterSection {
  .btn {
    margin: 0.1rem;
  }
}
#quoteSection {
  #quoteBlanks * {
    cursor: default;
  }
  .btn {
    margin: 0.1rem;
    min-width: 40px;
    min-height: 33px;
  }
}
#author {
  margin-top: 0;
  margin-bottom: 0;
}
#messageArea {
  height: 2rem;
}
html,
body {
  min-height: 100vh;
}

/*blockquote {
  display: grid;
  width: fit-content;
  grid-template-rows: auto auto;

  #quoteText,
  #author {
    width: fit-content;
  }
}*/
